<div class="datepicker input-group">
	<input class="form-control" type="text" data-format="yyyy-MM-dd">
	<span class="input-group-addon">
		<span class="icon-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar"></span>
	</span>
</div>