<div class="progress progress-striped">
	<div role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" {{bind-attr class=progressbarStyle}} {{bind-attr style=persentageWidth}}>
	</div>
</div>


