<input id="file" name="file"  type="file"  accept="image/jpeg, image/png"/>

<div class="dsrp">
	{{options.dsrp}}
</div>


<div>
	<img class="img-polaroid photo"  {{bind-attr src=options.imgSrc}}/>
</div>

<br>

<div>
	<a name="btnUpload" class="btn btn-small btn-success" href="javascript:void(0);"  for="file">上傳圖片</a>
</div>

<br>

{{#if options.progressbar}}
	{{progress-bar options=progressbar}}
{{/if}}

{{#if options.statusMsg}}
	<span class="uploadStatus">準備上傳</span>
{{/if}}
