
<div class="col-xs-12">


	<div class="row">
	  <div class="col-sm-12">
	      <div class="page-header">

	        <h1 class="pull-left">
	          <i class="icon-home"></i>
	          <span>首頁</span>
	        </h1>

		  	<div class="pull-right">

				<ul class="breadcrumb">

					<li>
						{{#link-to "main"}}
							<i class="icon-home"></i>
						{{/link-to}}
					</li>

				</ul>
			</div>

	    </div>
	  </div>
	</div>

	<div class="row">
		<div class='col-sm-12'>
			<h1>這是首頁, 目前還不知道要放哪些東西</h1>
		</div>
	</div>
	
</div>